<ion-tabs (ionTabsDidChange)="setSelectedTab()">
  <!--changes tab icon when selected-->
  <div class="player">
    <!-- <ion-progress-bar value="23"></ion-progress-bar> -->
    <div class="progress-bar">
      <div class="progress" [style.width]="globals.track_progress + '%'">
      </div>
    </div>

    <ion-row *ngIf="globals.track_info">
      <ion-col size="2" class="ion-no-padding">
        <!--cover art-->
        <img [src]="globals.track_info?.art">
      </ion-col>

      <ion-col size="7" class="ion-align-self-center">
        <!--track title-->
        <b>{{globals.track_info?.name}}</b><br>
        <span>{{globals.track_info?.artist.name}}</span>
      </ion-col>


      <ion-col size="2" class="ion-align-self-center">
        <ion-button tappable (click)="musicPlayer.togglePlayer()">
          <!--play button-->
          <ion-icon slot="icon-only" *ngIf="!globals.isPlaying" name="play"></ion-icon>
          <ion-icon slot="icon-only" *ngIf="globals.isPlaying" name="pause"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <!--creates buttons and content-->
  <ion-tab-bar slot="bottom">
    <!--puts tabs on botom of page-->

    <ion-tab-button tab="feed">
      <!--defines page link-->
      <ion-icon [name]="selected == 'feed' ? 'list-circle' : 'list-circle-outline'"></ion-icon>
      <!--icon from website-->
      <ion-label>Feed</ion-label>
      <!--tab display name-->
    </ion-tab-button>

    <ion-tab-button tab="music">
      <!--directs to page, has to match path routing name-->
      <ion-icon [name]="selected == 'music' ? 'musical-notes' : 'musical-notes-outline'"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos">
      <ion-icon [name]="selected == 'videos' ? 'videocam' : 'videocam-outline'"></ion-icon>
      <ion-label>Videos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lexicon">
      <ion-icon [name]="selected == 'lexicon' ? 'book' : 'book-outline'"></ion-icon>
      <ion-label>Lexicon</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>