ion-tab-bar{
    --background: var(--ion-color-dark); //bottom tab colo
}

.player //mini player at bottom of screen
{ //height of total mini player
    background: var(--ion-color-dark); //color of mini player
    font-family: 'Spotify';
    color: #fff; //font color
    font-size: small;
    img{
        height: 55px;
    }

    .progress-bar{ //makes full screen bar
        width: 100%;
        height: 2px;
        background: #707077 ; //progress bcg color
        .progress{ //lil play line
            background: #fc6f11 ; //progress color
            height: 100%;  
        } 
    }

    ion-progress-bar{
        --progress-background: #fc6f11 !important;
        --buffer-background: #707077 !important;
        
    }
}

.section-header {
    color: #fff;
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
 
.title {
    color: #fff;
    font-family: 'Spotify';
    font-size: small;
}