<ion-header translucent>
  <ion-toolbar>
    <!--fav bar-->
    <!-- <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-no-padding" *ngFor="let category of categories; let isFirst = first;">
    <ion-col *ngIf="category.albums.length > 0" size="9">
      <h2 class="section-header">{{category.title}} </h2>
    </ion-col>

    <ion-col size="3">
      <!--setting-->
      <ion-button *ngIf="isFirst" fill="clear" color=white>
        <ion-icon name="settings-outline" slot="icon-only">

        </ion-icon>

      </ion-button>


    </ion-col>




    <ion-slides *ngIf="category.albums.length > 0" [options]="opts">
      <!--options 4 sliders-->

      <ion-slide *ngFor="let album of category.albums" tappable (click)="openAlbum(album)">
        <!--if there are entries they are clickable-->
        <img [src]="album.art">
        <!--get the images from here-->
        <span class="title">{{ album.name }}</span>
        <!--get the title from here + span class-->
      </ion-slide>

    </ion-slides>

  </ion-row>


</ion-content>

<!-- <ion-tabs (ionTabsDidChange)="setSelectedTab()">
  <!--changes tab icon when selected-->
<!-- <div class="player">
    <div class="progress-bar">
      <div class="progress" [style.width]="progress + '%'">
      </div>
    </div>

    <ion-row>
      <ion-col size="`1" class="ion-no-padding">
        <!--cover art-->
<!-- <img src="track.art"> -->
<!-- </ion-col>

      <ion-col size="8" class="ion-align-self-center"> -->
<!--track title-->
<!-- <b>track.name</b><br>
        <span>track.title</span>
      </ion-col>


      <ion-col size="2" class="ion-align-self-center">
        <ion-button tappable (click)="musicPlayer.togglePlayer(pause)"> -->
<!--play button-->
<!-- <ion-icon name="play" color="medium" size="large"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </div>
</ion-tabs> -->