<ion-header translucent>
  <ion-toolbar>
    <!--fav bar-->
    <!-- <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment> -->
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row class="ion-no-padding" *ngFor="let category of categories; let isFirst = first;">
    <ion-col size="9">
      <h2 class="section-header">{{category.title}} </h2>
    </ion-col>

    <ion-col size="3">
      <!--setting-->
      <ion-button *ngIf="isFirst" fill="clear" color=white>
        <ion-icon name="settings-outline" slot="icon-only">

        </ion-icon>

      </ion-button>


    </ion-col>




    <ion-slides [options]="opts">
      <!--options 4 sliders-->

      <ion-slide *ngFor="let album of category.albums" tappable (click)="openAlbum(album)">
        <!--if there are entries they are clickable-->
        <img [src]="album.art">
        <!--get the images from here-->
        <span class="title">{{ album.name }}</span>
        <!--get the title from here + span class-->
      </ion-slide>

    </ion-slides>

  </ion-row>


</ion-content>