*{
    font-weight: bold;
}

ion-item {
    ion-thumbnail {
        img {
            border-radius: 10px;
        }
    }
    ion-label {
        h2,
        p {
            font-weight: bold;
        }
    }
}

.miniPlayer {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    //hide by default by setting bottom value in negative
    bottom: -100px;
    ion-progress-bar {
        z-index: 10;
    }
}


ion content{
--padding-top: 40px;
}
 
.section-header {
    color: #fff;
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
 
.title {
    color: #fff;
    font-family: 'Spotify';
    font-size: small;
}
 
ion-slide {
    display: block;
    text-align: left;
}
 
ion-slides {
    margin-bottom: 20px;
}
