*{
    font-weight: bold;
}

ion-item {
    ion-thumbnail {
        img {
            border-radius: 10px;
        }
    }
    ion-label {
        h2,
        p {
            font-weight: bold;
        }
    }
}


.section-header {
    color: rgb(255, 255, 255);
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
 
.title {
    color: #fff;
    font-family: 'Spotify';
    font-size: small;
}
 
ion-slide {
    display: block;
    text-align: left;
}
 
ion-slides {
    margin-bottom: 20px;
}
